# Shell independent aliases
alias bc="bc -ql" # launch quitely and with math stuff
alias csv="column -t -s','"
alias diff="diff --color=auto"
alias emacs="emacs -nw" # launch without X by default
alias grep="grep --color=auto"
alias ipython="ipython --no-banner"
alias jctl=journalctl
alias la="ls -A"
alias ls="ls --color=auto"
alias moo="fortune | cowsay | sm -b black -f white -n 'monospace' -a 1 -" # lol
alias pacaur="pacaur --color=auto"
alias pacman="pacman --color=auto"
alias ppt2pdf="libreoffice --headless --invisible --convert-to pdf"
alias sctl="sudo systemctl" # cause it's a PITA to type
alias tree="tree -C" # use colors
alias view="vim -R" # launch vim in readonly mode
alias which='alias | /usr/bin/which --tty-only --read-alias --show-dot --show-tilde' # this which best which
